@import "../../assets/scss/colors.scss";
@import "../../assets/scss/media.scss";

.about-page {
  &__photo {
    width: 300px;
    height: 300px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    @include small {
      flex-direction: column;
      & > div {
        margin-top: 15px;
      }
    }
    h5 {
      color: #00bc8c;
    }
    i {
      color: #00bc8c;
    }
  }
  .social__content {
    a {
      transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
      }
    }
    .link-text {
      color: #fff;
    }
  }
}
