.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    max-width: 90%;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-50%);
  }
  &__title {
    text-align: center;
  }
  &__subtitle {
    text-align: center;
  }
}
