@import "../../assets/scss/media.scss";

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    max-width: 90%;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-50%);
  }
  &__title {
    text-align: center;
    @include medium {
      font-size: 36px;
    }
    @include small {
      font-size: 28px;
    }
  }
  &__subtitle {
    text-align: center;
  }
}
